body {
    color: #eeeeee;
    background-color: #000000;
}
* {
    font-family: Jura;
    font-weight: bold;
    border-radius: 5px;
}
input {
    text-align: center;
    border-radius: 5px;
    border-style: none;
    margin: auto;
    padding: 2px;
    background-color: #ffcc99;
    width: 40px;
}
#content {
    background-color: #886622;
    padding: 5px;
    max-width: 300px;
    margin: auto;
}
#attacker, #defender {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    text-align: center;
}
.statBoxAttacker, .statBoxDefender, .mods, .mod {
    background-color: #AA6622;
    padding: 2px;
    border: 1px solid #000000;
    font-size: 0.9em;
}
.statBoxDefender {
    background-color: #886644;
}
#modbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.mods {
    background-color: #cc8844;
    padding: 5px;
    margin: 10px;
    color: #000000;
    font-weight: normal;
}
.mod {
    width: 240px;
    background-color: #eeaa66;
    padding: 5px;
    border: 1px solid #000000;
    margin: 2px;
}

#output {
    margin: 5px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    width: 280px;
    overflow: hidden;
}
h1, h2, h3, hr {
    /* width: 240px; */
}
hr {
    color: #000000;
}
h2 {
    font-size: 1em;
    padding: 2px;
}
h3 {
    text-align: center;
    font-size: 1em;
    padding: 5px;
    background-color: #000000;
    margin: 5px;
    min-width: 50px;
}

h1 {
    margin: 20px auto 0px auto;
}
h4 {
    font-size: 0.6em;
    padding: 2px;
    margin: 0px auto 30px auto;
}
.ui-accordion-header-active {
    background-color: #333333;
    /* width: 240px; */
}
button {
  background-color: #000000;
  border: 2px solid #666666;
  color: white;
  padding: 5px;;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin: 2px;
}
button:hover{
    background-color: #333333;
}
button:focus{
    background-color: #666666;
}
.outputCataR {
    color: #cc3333;
    text-shadow: 1px 1px #993333;
}
.outputCataG {
    color: #33cc33;
    text-shadow: 1px 1px #339933;
}
.outputCataB {
    color: #6666ee;
    text-shadow: 1px 1px #6666BB;
}
.ui-tooltip-content {
    max-width: 200px;
    background-color: #000000;
    border: 1px solid #cccccc;
    padding: 5px;
}
.ui-helper-hidden-accessible {
    visibility: hidden;
}

textarea {
    padding: 5px;
    text-align: justify;
    background-color: #ffffe0;
    resize: none;
}
#motdList li {
    margin-bottom: 20px;
}
#attackerName, #defenderName {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 2px;
    margin: 0px auto 6px auto;
}
 #defenderName {
     margin: 4px auto 2px auto;
 }

 #weaponsBox {
     width: 100%;
     text-align: center;
     margin: 4px;
     visibility: hidden;
 }
